/*  GENERAL /////////////////////////////////////////////////*/
:root{
  --green: rgb(19, 235, 163);
  --dark-green: rgb(27, 167, 120);
  --light-gray: #f1f1f1;
  --orange: #ff4b1e;
  --grey: #808080;
  --black: #242729;

  --hover-transition: 0.3s;

  margin:0
}

.body{
  width: 250px;
  height: 600px;
  margin: 0;
  padding: 0;
  /* background: white;   */
  font-family: 'DINPro', sans-serif;
  font-weight: 400;
  color: gray;

  overflow: hidden; /* Hide scrollbars */

}

/*  POPHEAD /////////////////////////////////////////////////*/

#pophead{
  width: 250px;
  height: 80px;
  
  font-family: 'DINPro', sans-serif;
  padding: 10px 0px;
  text-align: center
}

#pophead:hover{
  background-color: var(--dark-green);
}  

.popheadActive{
  background-color: var(--green);
}  

.popheadPaused{
  background-color: var(--grey);
}  

.halfOpacity{
  opacity: 0.5;
}  

#logo{
  max-width:150px;
  height:auto;
  margin: 10px 10px 6px 10px;
}

#tagline{
  width:100%;
  color: white;
  font-weight: 600;
  font-size: 10pt;
}


/*  MENU /////////////////////////////////////////////////*/

#topMenu{
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topButton{
  background-color: var(--dark-green);
  border: none;
  height: 30px;
  width: 100%;
  margin: 2px 1px ;

  /* display: flex; */
  align-items: center;

  color: white;
  font-family: 'DINPro', sans-serif;
  font-size: 9pt;
  font-weight: 500;
}

.topButton:hover{
  background-color: var(--green);
}
.topButton:active{
  background-color: var(--dark-green);
}

.buttonIcon{
  vertical-align: middle
}



/* SETTINGS /////////////////////////////////////////////////*/

/* #settingsMenu{
  
  
} */




/*  DOMAIN LIST /////////////////////////////////////////////////*/
#currentDomain{
  background-color: var(--green);
}

.domainDiv{
  background-color: #f1f1f1;
  /* padding-top: 7px;
  margin-top: 5px; */
}

.domainLine{
  width:100%;
  display:grid;
  grid-template-columns: 10% 75% 15% ;
  margin: 5px 10px;
  padding: 2px 0px;
  vertical-align: middle;
  color: var(--black);
}

.domainArrowDiv{
  font-weight: 500;
  font-size: 10pt;
    display: inline-block;
  vertical-align: middle;
  transition: var(--hover-transition);
  /* margin: 2px 10px 8px; */
}

.domainLine__arrow{
  font-size: 10px;
  position: relative;
  text-align: center;
  vertical-align: auto;
  transition: var(--hover-transition);
}

.domainLine__arrow:hover{
  color: var(--dark-green);
  transform: rotate(90deg);
  transition: var(--hover-transition);
}

.domainName{
  font-weight: 500;
  font-size: 10pt;
  display: inline-block;
  vertical-align: middle;
  transition: var(--hover-transition);
  /* margin: 2px 10px 8px; */
}

.domainName:hover{
  color: var(--dark-green);
  transition: var(--hover-transition);
}


/*  SET LIST /////////////////////////////////////////////////*/
.setList{
  width: 100%;
}

.setLine{
  width:100%;
  display:grid;
  grid-template-columns: 85% 15% ;
  margin: 1px 10px;
  padding: 2px 0px;
  vertical-align: middle;
  color: var(--black);
}

.setRename{
  border: none;
  outline: none;
  font-family: inherit;
  font-weight: 300;
  font-size: 10pt;
  padding: 0px
}

.setName{
  font-weight: 300;
  font-size: 10pt;
  color: black;
  position: relative;
  margin: 0px 15px 2px;
  padding-left: 22px;
}

.setName:hover{
text-decoration: line-through;
}

/* DELETE BIN /////////////////////////////////////////////////*/ 

.lineButtons{
  justify-content: middle;
  align-items: middle;
  bottom: 50%;
  font-size: 9pt;
}

.bin{
  bottom: 50%;
  color: var(--grey);
  /* transition: var(--hover-transition); */
  vertical-align: middle
}

.bin:hover{
  bottom: 50%;
  color: var(--orange);
  /* transition: var(--hover-transition); */
}

.binCheck{
  bottom: 50%;
  color: var(--dark-green);
  
  /* padding: 0px 3px; */
  /* transition: var(--hover-transition); */
  vertical-align: middle
}

.binClose{
  bottom: 50%;
  color: var(--grey);
  /* transition: var(--hover-transition); */
  vertical-align: middle
}






/* FOOTER /////////////////////////////////////////////////*/ 

footer{
  width:100%;
  position: absolute;
  bottom: 0px;
  text-align: left;
  font-family: 'DINPro', sans-serif;
  background-color: var(--light-gray);
  padding: 5px 10px ;
  width: 100%;
  font-size: 8pt;
  color: gray;
}

footer > a{
  color:var(--dark-green);
  text-align: right;
  width: 100%;
}



/*  OTHER /////////////////////////////////////////////////*/
.hidden{
  display: none !important;
  visibility: hidden !important;
}

.passive{
  color: var(--grey);
}

#settingsMenu{
  padding: 0px 7px
}

input[type="time"][class="timeInput"]{
  border: none;
  outline: none;
  font-family: inherit;
  font-weight: 300;
  font-size: 10pt;
  padding: 0px
}
input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
}

/* Slider Inputs */
/* SRC: https://www.youtube.com/watch?v=BQSNBa3gZJU */
input[class="toggle"]{
  position: relative;
  width: 24px;
  height: 12px;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 10px;
  vertical-align: middle;
  /* box-shadow: inset 0 0 5px rgba(0,0,0,.2); */
  /* transition: .5s; */
}

input:checked[class="toggle"]{
  background: var(--green);
  vertical-align: middle;
}

input[class="toggle"]:before{
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  top: 0;
  left: 0;
  margin: 3px;
  background: #fff;
  /*transform: scale(1.1);
  /*box-shadow: 0 2px 5px rgba(0,0,0,.2);*/
  /* transition: .5s; */
}

input:checked[class="toggle"]:before{
  left:12px;
}


