/*  GENERAL /////////////////////////////////////////////////*/
:root{
  --green: rgb(19, 235, 163);
  --dark-green: rgb(27, 167, 120);
  --light-grey: #A3B1C0;
  --orange: #ff4800;
  --grey: #979797;
  --dark-grey: #2F374C;
  --black: #202738;

  --title-font-weight: 500;       /* domain name, main settings lines */
  --title-font-size: 10pt;
  
  --subtitle-font-weight: 400;    /* sets, sub settings */
  --subtitle-font-size: 10pt;

  --block-margin: 0px 0px 0px 10px;
  --border-radius:5px 0px 0px 5px;

  --hover-transition: 0.1s;

  margin:0;
  background-color: var(--black);  
}

::-webkit-scrollbar {
  display: none;
}

.body{
  width: 250px;
  height: 550px;
  overflow: scroll;
  margin: 0;
  padding: 0;
  font-family: 'DINPro', sans-serif;
  font-weight: 400;
  color: white;
}

hr{
  border: 2px solid var(--black)
}

/*  POPHEAD /////////////////////////////////////////////////*/

#pophead{
  width: 250px;
  height: 80px;
  background-color: var(--black);
  z-index: 5;
  font-family: 'DINPro', sans-serif;
  padding: 10px 0px;
  text-align: center;
  position:absolute;
}

#pophead:hover{
  color: var(--dark-green);
}  

.popheadActive{
  color: var(--green);
}  

.popheadPaused{
  color: var(--grey);
}  

.halfOpacity{
  opacity: 0.5;
}  

#logo{
  max-width:150px;
  height:auto;
  margin: 10px 10px 6px 10px;
}

#tagline{
  width:100%;
  color: white;
  font-weight: 600;
  font-size: 10pt;
}

/*  MENU /////////////////////////////////////////////////*/

#topMenu{
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  position: fixed;
  top: 110px;
  z-index: 5;
  background-color: var(--dark-grey);
}

.topButton{
  /* background-color: var(--dark-green); */
  height: 25px;
  width: 100%;
  margin: 0 3px;
  padding-top: 4px;
  text-align: center;

  font-family: 'DINPro', sans-serif;
  font-size: 9pt;
  font-weight: 500;

  
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  transition: var(--hover-transition);
}

.tb_active{
  color: var(--green);
  border-bottom: 2px solid var(--green);
}

.tb_passive{
  color: white;
  /* border-bottom: 1px solid var(--grey); */
}

.topButton:hover{
  border-bottom: 3px solid var(--green);
  color: var(--green);
  transition: var(--hover-transition);
}

.topButton:active{
  background-color: var(--black);
} 

.buttonIcon{
  vertical-align: middle
}

#buttonStop{
  color: var(--green);
  border-bottom: 3px solid var(--green);
  transition: var(--hover-transition);
}

/* SETTINGS /////////////////////////////////////////////////*/ 

#settings{
  background-color: var(--dark-grey);
  color: #fff;
  margin: var(--block-margin);
  border-radius: var(--border-radius);
}

.settingsMainLine{
  font-weight: var(--title-font-weight);;
  font-size: var(--title-font-size);
  vertical-align: middle;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 90%;
  margin: 5px 0;
  padding: 5px 0;
  color: #fff;
  transition: var(--hover-transition);

}

.settingsMainLine:hover{
  color: var(--green);
  transition: var(--hover-transition);

}

.settingsSub{
  margin: 0px 0px 2px 25px;
  padding: 5px 0;
  color: #fff;
  font-weight: var(--subtitle-font-weight);
  font-size: var(--subtitle-font-size);
}

#weekdays{
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  font-weight: 400;
}

.weekday--active{
  /* color: white; */
  font-weight: var(--subtitle-font-weight);
  font-size: var(--subtitle-font-size);
  transition: var(--hover-transition);

}
.weekday--active:hover{
  color: var(--green);
  transition: var(--hover-transition);

}

.weekday--passive{
  color: var(--grey);
  font-weight: var(--subtitle-font-weight);
  font-size: var(--subtitle-font-size);
  transition: var(--hover-transition);

}
.weekday--passive:hover{
  color: var(--green);
  transition: var(--hover-transition);

}


.timeLabel{
  padding-right: 7px;
}

input[type="time"][class="timeInput"]{
  border: none;
  outline: none;
  font-family: inherit;
  font-weight: var(--subtitle-font-weight);
  font-size: var(--subtitle-font-size);
  padding: 0px;
  color: inherit;
  background-color: var(--dark-grey);
}

input[type="time"][class="timeInput"]:hover{
  color:var(--green);
  transition: var(--hover-transition);

}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
}

#resetSettings:hover{
color: var(--orange);
transition: var(--hover-transition);
}

/*  DOMAIN LIST /////////////////////////////////////////////////*/
#currentDomain{
  background-color: var(--green);
}

#content{
  position: relative;
    top: 150px;
    width: 100%;
    height: 380px;
    overflow: scroll;
}

.domainDiv{
  background-color: var(--dark-grey);
  color: white;
  margin: var(--block-margin);
  border-radius: var(--border-radius);
}

.domainLine{
  width:100%;
  display:grid;
  grid-template-columns: 83% 7% 10% ;
  margin: 5px 0px;
  padding: 5px 0px;
  color: white;
}

.domainArrowDiv{
  font-weight: 500;
  font-size: 10pt;
  display: inline-block;
  vertical-align: middle;
  transition: var(--hover-transition);
  
}

.domainLine__arrow{
  font-size: 10px;
  position: relative;
  text-align: center;
  vertical-align: auto;
  margin-left: 5px;
  /* opacity: 0; */
  transition: var(--hover-transition);
}

.domainLine__arrow:hover{
  color: var(--green);
  transition: var(--hover-transition);

  /* transform: rotate(90deg); */
  /* transition: var(--hover-transition); */
}

.domainIconNameDiv{
  display: grid;
  grid-template-columns: 20% 80% ;
  transition: var(--hover-transition);

  /* transition: var(--hover-transition); */
}

.domainNameDiv:hover{
  color: var(--green);
  transition: var(--hover-transition);
}

.domainName{
  font-weight: var(--title-font-weight);;
  font-size: var(--title-font-size);
  white-space: nowrap;
  vertical-align: middle;
  padding-bottom: 1px;
  margin-left: 2px;
  transition: var(--hover-transition);
}

/* STATUS ICON */
.statusIconDiv{
  padding: 0px 5px;
}

.statusIcon{
  vertical-align: middle;
}

#iconBlocked{
  transform: rotate(95deg);
  transition: var(--hover-transition);

}

#iconFiltered{
  color: inherit;
  transition: var(--hover-transition);

}

#iconPasive{
  color: var(--light-gray);
  transition: var(--hover-transition);

}

/*  SET LIST /////////////////////////////////////////////////*/
.setList{
  width: 100%;
  padding-bottom: 5px;
}

.setLine{
  width:100%;
  display:grid;
  grid-template-columns: 79% 21% ;
  padding: 0px 0px 2px 10px;
  vertical-align: middle;
  color: white;
}

.setRename{
  border: none;
  outline: none;
  font-family: inherit;
  font-weight: var(--subtitle-font-weight);
  font-size: var(--subtitle-font-size);
  padding: 0px;
  color: white;
  background-color: var(--black);
}

.setName{
  font-weight: var(--subtitle-font-weight);
  font-size: var(--subtitle-font-size);
  position: relative;
  margin: 0px 15px 2px;
  /* padding-left: 22px; */
}

.setName:hover{
text-decoration: underline;
/* color: var(--green); */
/* padding-left: 4px; */
}

/* DELETE BIN /////////////////////////////////////////////////*/ 

div.domainLine > div.lineButtons > div.bin{
  display: none;
}

div.domainLine:hover > div.lineButtons > div.bin{
  display: unset;
  bottom: 50%;
  color: white;
  margin-right: 8px;
  transition: var(--hover-transition);
  vertical-align: middle
}

div.setLine > div.lineButtons > div.bin{
  display: none;
}

div.setLine:hover > div.lineButtons > div.bin{
  display: unset;
  bottom: 50%;
  color: white;
  margin-right: 8px;
  transition: var(--hover-transition);
  vertical-align: middle
}

.lineButtons{
  bottom: 50%;
  font-size: 9pt;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* justify-content: space-around; */
}

#bin:hover{
  color: var(--orange);
  transition: var(--hover-transition);

}

#binCheck{
  color: var(--green);
  transition: var(--hover-transition);

}




/* FOOTER /////////////////////////////////////////////////*/ 

footer{
  width:100%;
  position: fixed;
  bottom: 0;
  text-align: left;
  font-family: "DINPro",sans-serif;
  background-color: var(--dark-grey);
  padding: 5px 10px;
  font-size: 9pt;
  color: var(--light-gray);
  border-top: var(--black) solid 2px;
  z-index: 5;
}

footer > a{
  color:white;
  text-align: right;
  width: 100%;
}

footer > a:hover{
  color:var(--green);
}


/*  OTHER /////////////////////////////////////////////////*/


.hidden{
  display: none !important;
  visibility: hidden !important;
}

.passive{
  color: var(--grey);
}

.passive_all{
  color: var(--grey) !important;
}

.orange{
  color: var(--orange);
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Bold.woff2') format('woff2'),
      url('../fonts/DINPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Medium.woff2') format('woff2'),
      url('../fonts/DINPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Regular.woff2') format('woff2'),
      url('../fonts/DINPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Black.woff2') format('woff2'),
      url('../fonts/DINPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Light.woff2') format('woff2'),
      url('../fonts/DINPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

